.header {
  background-color: var(--background-pink-dark);
  padding: 10px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1160px;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    &-icon {
      height: 40px;

    }
  }
  &__nav {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  &__list {
    display: flex;
    list-style: none;
    gap: 15px;
  }
  &__list {
    text-transform: uppercase;
    //font-weight: 700;
    font-size: 14px;
  }

}