.sign {
  //width: 100vw;
  //background: url('/src/assets/bg/register-bg.png') center / cover no-repeat;
  ////display: flex;
  ////flex-direction: column;

  padding: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--background-primary);
  border: 3px solid var(--background-secondary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;

  &__title {
    margin: 0 auto 20px auto;
    font-weight: 600;
    font-size: 24px;
  }
  &__form {
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 410px;
  }
  &__form-label {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__input {
    padding: 10px;
    background-color: #73626d;
    border: none;
    outline: none;
    border-radius: 2px;
    color: var(--text-primary);
  }
  &__or {
    text-align: center;
  }
  &__btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: var(--background-secondary);
    color: var(--text-primary);
    border: none;
    cursor: pointer;

    &-google {
      padding: 10px;
      background-color: var(--text-primary);
      color: var(--background-primary);
      cursor: pointer;
    }
  }

  &__btn-auth {
    text-align: left;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: var(--background-pink);
    cursor: pointer;
  }
  
  &__text {
    font-size: 14px;
    margin-right: 10px;
  }
}
